*, *::before, *::after { box-sizing: border-box; }
* { padding: 0; margin: 0; }
html,body { width: 100%; height: 100vh; }
body { font-family: Roboto, serif; }
main { 
    width: 60%;
    height: auto;
    margin: 0 auto;
    max-width: 900px;
}

.flex { display: flex; }
.center { align-items: center; justify-content: center; }
.ali-center { align-items: center; }
.jus-center { justify-content: center;}
.dir-column { flex-direction: column; }
.all-center { place-content: center; }

.devborder { border: 1px solid red; }

.default-section {
    gap: 2rem;
    flex-wrap: wrap;
}

.card-section {
    display: flex;
}

.card { 
    display: block;
    width: 250px;
    height: auto;
    position: relative;
}
.card > * { float: left; }
.card > .card-desc {
    visibility: hidden;
    text-align: center;
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
}
.card > .card-image {
    width: 100%;
    position: relative;
    z-index: 1;
    box-shadow: 0 0 4px #000;
}

.content-section {
    margin-top: 4rem;
    text-align: center;
}
.content-section > div {
    max-width: 45%;
}

#id_header {
    background-color: #1d3157;
    height: 6rem;
    box-shadow: 0 0 5px #000;
    color: #fff;
    margin-bottom: 5rem;
}
#id_header > div {
    margin: 0 auto;
    text-align: center;
}

#id_search_field {
    height: 2rem;
    width: 16rem;
    margin: 0.5rem 0;
    border-radius: 20px;
    border: none;
    padding-left: 1em;
    background: #bfc3c9;
}
#id_search_field:focus {
    box-shadow: 0 0 10px #00F;
}

#id_nav_button { 
    font-size: 2em;
    float: right;
    margin-right: 2rem;
    cursor: pointer;
}

#id_nav_screen {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
}

#id_navbar {
    float: right;
    background-color: #1d3157;
    width: 200px;
    height: 100%;
    padding-top: 2rem;
    box-shadow: 0 0 5px #000;
    position: relative;
}
#id_navbar a {
    color: #fff;
    text-decoration: none;
    padding: 1em 4.9em;
}
#id_navbar a:hover {
   background-color: #000; 
}

#id_footer {
    height: 2rem;
    background: #000;
    color: #fff;
    padding: 0.5rem 0.5rem;
    margin-top: 2rem;
}

#id_close_nav_button {
    position: absolute;
    left: -35px;
    font-size: 2em;
    color: #fff;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    main {
        height: auto;
    }
    .card-section {
        grid-template-columns: auto;
        gap: 1rem;
    }
    .main-figure > img {
        width: 100%;
    }
    #id_nav_button {
        margin-right: 10px;
        margin-bottom: 30px;
    }
}
